@keyframes bounce-magnify {
	
	0% {
		opacity: .2;
		-webkit-transform: translate3d(0 , 100px , 0);
		-ms-transform: translate3d(0 , 100px , 0);
		-o-transform: translate3d(0 , 100px , 0);
		transform: translate3d(0 , 100px , 0);
	}

	50% {
		-webkit-transform: translate3d(0 , -20px , 0);
		-ms-transform: translate3d(0 , -20px , 0);
		-o-transform: translate3d(0 , -20px , 0);
		transform: translate3d(0 , -20px , 0);
		opacity: 1;
	}	

	100% {
		-webkit-transform: translate3d(0 , 0 , 0);
		-ms-transform: translate3d(0 , 0 , 0);
		-o-transform: translate3d(0 , 0 , 0);
		transform: translate3d(0 , 0 , 0);
		opacity: 1;
	}


}

.bounce-mg {
	-webkit-animation-name: bounce-magnify;
	-o-animation-name: bounce-magnify;
	animation-name: bounce-magnify;
	-webkit-animation-duration: .5s;
	-o-animation-duration: .5s;
	animation-duration: .5s;
 	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
} 

svg .magnify:nth-of-type(1) , #magnify-handle {
	-webkit-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
 }


 @keyframes pop-in-bounce {
 	0%  {
 		opacity: 0;
 		-webkit-transform: translateY(-50px);
 		-ms-transform: translateY(-50px);
 		-o-transform: translateY(-50px);
 		transform: translateY(-50px);
 	}

 	50%  {
 		opacity: 1;
 	}

 	100%  {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0); 		
 		opacity: 1;
 	}


	/*80% {
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		-o-transform: translateY(20px);
		transform: translateY(20px);
	}

	85%  {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	90%  {
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		-o-transform: translateY(10px);
		transform: translateY(10px);
	}


	95%  {
		-webkit-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		-o-transform: translateY(-5px);
		transform: translateY(-5px);
	}

	100%  {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}*/
 }


 .pop-in-bounce {
	-webkit-animation-name: pop-in-bounce;
	-o-animation-name: pop-in-bounce;
	animation-name: pop-in-bounce;
	-webkit-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
 	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
} 