.contact-bnr {
	background: url(../images/bg/bnr-lines.png) no-repeat 0 100%;
}

.contact {
	background: #f9f9f9 url(../images/bg/product-bg-lines.png) no-repeat 100% 100%;
} 

.contact-form input , .contact-form textarea {
	width: 100%;
	min-height: 34px;
	padding: .8em;
	outline: none;
	border: none;
	-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.1);
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.1);
	font-size: 1.1em;
	/*color: #868686;*/
}

.contact-form .btn-or {
	padding: .5em 1em;
	font-size: 1.1em;
}

.contact-form input:focus , .contact-form input:active , 
.contact-form textarea:focus , .contact-form textarea:active {
	/* -webkit-box-shadow: inset hoff voff blur color;
	box-shadow: inset hoff voff blur color; */
	border-color: 1px solid #66afe9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 
				0 0 8px rgba(102, 175, 233, 0.6);
}

.contact-form input:first-child {
	margin-top: 0;
}

.contact-form textarea {
	min-height: 120px;
}

.icon-contact {
	display: inline-block;
	height: 25px;
	width: 25px;
	background: url(../images/res/contact-spirite.png) no-repeat;
} 

.icon-contact.icon-env {
	background-position: -25px 0;
}

.contact-form >* {
	margin: .2em 0;
}

.address-wrpr {
	margin-bottom: 2em;
}

.address-wrpr i {
	color: #e77d00;
	font-size: 1.5em;
	width: 20px;
}

.address-wrpr pre {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
}

.address-wrpr >* {
	float: left;
}

.address-wrpr > .address{
	margin-left: 1em;
}

.address h5 {
	margin-top: 0;
	margin-bottom: .2em;
}

.contact-map {
	margin: 0 0 0 2em; cursor: pointer;
}


@media only screen and (max-width: 768px) {

	.contact .col-md-4 {
		margin-top: 2em;
	}
}