.cms_wrap .feature-icon{background: none !important;}
.pagination > li > a, .pagination > li > span{color: #e77d00;}
.pagination > li.active_li > a, .pagination > li > span{color: #333;}
.row.product-listing {  margin-bottom: 30px;  border-top: 1px dashed #ccc;  padding-top: 40px;  }
.row.product-listing:first-child {  border: none;  padding-top: 0;  }
.home_item_list_wrap h2, .product-listing h2, .product-listing img{cursor: pointer;}
.product_details_wrap ul li{
    position: relative;
    padding-left: 1em;
}
.product_details_wrap ul li:before {
    content: "\f0da";
    position: absolute;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    left: 0;
    top: 50%;
    color: #000;
    font-size: 1em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
img.inline-product-image {
    float: right;
    margin: 25px 0 0 25px;
}
.product_details_wrap p {
    text-align: justify;
}
.min-height-box{min-height: 400px;}
.nav-menu-min-height{min-height: 104px;}
h2.page-title-popup {  color: #e77d00;  }
.add_to_cart {  float: right;  }
table.table_package {  width: 45%;  }
