/*

		{
			body: #141b23;
			ar-btn : #e77d00;
			text-color-for-dark-bg: #b6c7db;
			footer: #c3c3c3;
		}

*/

/* global styles */

.discover-cheating .feature-icon {
	height: 100px;
	width: 100px;
	background: url(../images/res/feature-spirite.png) no-repeat;
}

.discover-cheating .feature-icon.spy-msg {
	background-position: -100px 0;
}

.discover-cheating .feature-icon.spy-remote {
	background-position: -200px 0;
}

.discover-cheating .feature-icon.spy-multimedia {
	background-position: 0px -100px;
}

.discover-cheating .feature-icon.spy-internet {
	background-position: -100px -100px;
}

.discover-cheating .feature-icon.spy-password {
	background-position: -200px -100px;
}

.discover-cheating .feature-icon.spy-im {
	background-position:  0 -200px;
}

.discover-cheating .feature-icon.spy-gps {
	background-position: -100px -200px;
}

.discover-cheating article {
	padding: 2em 0;
}

.features-listing > li {
	padding-left: .7em;
}

@media only screen and (min-width:992px) {
	
	/*.discover-cheating > .container > .row {
		margin-top: 2em;
		margin-bottom: 2em;
	}*/

	.discover-cheating > .container > .row > [class*="col-md"] {
		min-height: 200px;
		position: relative;
	}

	.discover-cheating > .container > .row > [class*="col-md"]:after {
		position: absolute;
		content: '';
		top: -.2em;
		left: 2%;
		right: 2%;
		height: 1px;
		background: #f3f3f3;
	}

	.discover-cheating > .container > .row > [class*="col-md"]:before {
		position: absolute;
		content: '';
		top: 2%;
		right: 0px;
		bottom: 2%;
		width: 1px;
		background: #f3f3f3;
	}

	/* border overrides (because i don't want borders on the left most and top most elements)  */
	.discover-cheating > .container > .row:first-child > [class*="col-md"]:after {
		height: 0;
		width: 0;
	}

	.discover-cheating > .container > .row > .col-md-4:nth-child(3):before {
		height: 0;
		width: 0;
	}

	/* giving min heights */

	.discover-cheating > .container > .row:first-child > [class*="col-md"] {
		min-height: 300px;
	}

	.discover-cheating > .container > .row:nth-child(2) > [class*="col-md"] {
		min-height: 200px;
	}

	.discover-cheating > .container > .row:nth-child(3) > [class*="col-md"] {
		min-height: 400px;
	}

	/* End border overrides */
}


.discover-bnr {
	background: url(../images/bg/bnr-lines.png) no-repeat 0 100%;
	/*background: #fff url(../images/bg/discover-cheating-bg.jpg) no-repeat center 10px;*/
	-webkit-background-size: auto;
	background-size: auto;
}

/* end global styles */

.discover-cheating {
	background: #ffffff; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: url(../images/bg/top-bg-lines.png) no-repeat 100% 0 , url(../images/bg/discover-cheating-bg-lines.png) no-repeat 100% 100%,
	-webkit-linear-gradient(#ffffff 0%, #f9f9f9 100%);
	background: url(../images/bg/top-bg-lines.png) no-repeat 100% 0 , url(../images/bg/discover-cheating-bg-lines.png) no-repeat 100% 100%,
	-o-linear-gradient(#ffffff 0%, #f9f9f9 100%);
	background: url(../images/bg/top-bg-lines.png) no-repeat 100% 0 , url(../images/bg/discover-cheating-bg-lines.png) no-repeat 100% 100%,
	linear-gradient(#ffffff 0%, #f9f9f9 100%);;;; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */	
}


.feature-icon , .feature-content {
	display: inline-block;
	vertical-align: top;
}

.feature  h3 {
	margin-top: 0;
	margin-bottom: .5em;
}

.feature-content h3 {
	margin-top: 0;
	line-height: 1;
} 

@media only screen and (max-width:992px) {
	.discover-cheating article {
		max-width: 400px;
	    margin-left: auto;
	    margin-right: auto;
	    margin: 2em auto;
	}
}


/* bottom banner */

.discover-cheating-bnr {
	background: transparent;
	-webkit-background-size: cover;
	background-size: cover;
}


/* end bottom bnr  */