@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,700,800);


@font-face {
  font-family: 'NexaBold';
  src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/NexaBold.woff') format('woff'), url('../fonts/NexaBold.ttf')  
  		format('truetype'), url('../fonts/NexaBold.svg#NexaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* color pallet */

/*

		{
			body: #141b23;
			ar-btn : #e77d00;
			text-color-for-dark-bg: #b6c7db;
			footer: #c3c3c3;
		}

*/


/* global styles */

body {
	color: #505050;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}


.wrapper {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

body > section , body > header{
	padding: 3em 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h1 , h2 , h3 , h4 , h5 , h6 {
	font-family: 'NexaBold' , 'Open Sans', sans-serif;
	color: #000;	
}


h1 , h2 , h3 {
	font-weight: 700;
	margin-top: .5em;
	margin-bottom: .5em;
}

h4 , h5 , h6 {
	font-weight: normal;
	margin-top: .5em;
	margin-bottom: .5em;
}

@media only screen and (min-width:992px) {
	.col-md-offset-1-5 {
		margin-left: 11.111111113333335%;
	}
}


p {
	margin-top: .5em;
	margin-bottom: .5em;
}

a { 
	text-decoration: none;
}

a:hover , a:focus , a:active {
	text-decoration: none;
}

.vedio-link {
	font-family: 'NexaBold' , 'Open Sans', sans-serif;
	display: inline-block;
	color:  #e77d00;
	font-weight: 700;
	text-transform: capitalize;
	border-bottom: 1px solid #e77d00;
}

.ar-btn {
	position: relative;
	padding: .5em 1em;
	border: 0;
	outline: none;
	background: transparent;
	text-transform: capitalize;
	color: #e77d00;
	font-weight: 600;
	font-size: 1.3em;
	background: transparent url(../images/res/ar-btn-bg.png) no-repeat left center;
	padding-left: 2em;
	-webkit-transition: background-position .2s;
	-o-transition: background-position .2s;
	transition: background-position .2s;
}

.ar-btn:hover {
	background-position: 3px center;
}

.ar-btn:after , .anchor:after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 50%;
	right: 50%;
	border-bottom: 1px solid #e77d00;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.anchor:after {
	bottom: -3px;
	border-bottom: 1px solid #c3c3c3;
}

.ar-btn:hover:after {
	left: 0;
	right: 10%;
}

.anchor:hover:after {
	left: 0;
	right: 0;	
}

.anchor {
	position: relative;
}


ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


/* footer code */

.footer {
	border-top: 3px solid #e77d00;
	padding: 1.5em;
	color: #c3c3c3;
}

/*.footer > .wrapper {
	padding: 1em 0;
}
*/
.footer small {
	font-family: 'NexaBold' , 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: .75em;
}

.footer .social-links li {
	font-size: 1.3em;
	display: inline-block;
	margin-right: .8em;
}

.social-links li a {
	font-size: 1.1em;
}

.footer a {
	color: #c3c3c3;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.footer small a {
	border-bottom: 1px solid #c3c3c3;	
}

.footer a:hover {
	border: none;
}

.social-links li:nth-child(1) a:hover {
	color: #3b5998;
}

.social-links li:nth-child(2) a:hover {
	color: #00aced;
}

.social-links li:nth-child(3) a:hover {
	color:  #dd4b39;
}

@media only screen and (max-width:992px) {
	.footer {
		text-align: center;
	}
	
	.footer > .wrapper >* {
		margin: 1em 0;
	} 
}


@media only screen and (min-width:992px) {
	.footer small {
		display: inline-block;
		vertical-align: middle;
		margin-top: 5px;
	}

	.footer .social-links {
		float: right;
	}
}

/* End of footer */

	/* Backpages */

		.bp-banner {
			position: relative;
			-webkit-background-size: cover;
			background-size: cover;
			height: 300px;
		}

		.bp-banner .bnr-content {
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			padding-right: 15px;
			padding-left: 15px;
		}
		
		.bp-banner h1 {
			font-size: 2.2em;
			margin-top: 0;
			margin-bottom: 0;
		}

		.bp-banner p {
			font-family: 'NexaBold' , 'Open Sans', sans-serif;
			font-size: 20px;
			color: #000;
			font-weight: normal;
			margin-top: 0em;
			margin-bottom: 0em;
		}
		
		.bullet-list {
			list-style-image: url(../images/res/li-dot.png);
			list-style-position: inside;
		}

		.bullet-list li {
			margin: .5em 0;
		}

		.arr-lst > li {
			position: relative;
			margin-top: .5em;
			padding-left: 1em;
		}

		.arr-lst > li a {
			color: #4f4f4f;
		}

		.arr-lst > li:before {
			content: "\f0da";
			position: absolute;
			font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    text-decoration: inherit;
			left: 0;
			top: 0;
		}

		.arr-lst > li:hover a , .arr-lst > li:focus a , 
		.arr-lst > li:hover , .arr-lst > li:focus{
			color: #e77d00;
		}

		.bottom-bnr-content {
			padding-right: 15px;
			padding-left: 15px;
		}

		.highlight-bnr {
			padding: 3em 0;
			min-height: 200px;
			-webkit-background-size: cover;
			background-size: cover;
		}

		.highlight-bnr .btn , .btn-or {
			font-weight: 600;
			padding: .5em 2em;
			color: #fff;
			background: #f4880a; /* Old browsers */
			background: -moz-linear-gradient(top,  #f4880a 0%, #e77d00 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #f4880a 0%,#e77d00 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #f4880a 0%,#e77d00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4880a', endColorstr='#e77d00',GradientType=0 ); /* IE6-9 */
			-webkit-transition: .2s;
			-o-transition: .2s;
			transition: .2s;
		}

		.highlight-bnr .btn:hover , .highlight-bnr .btn:focus , .highlight-bnr .btn:active,
		.btn-or:hover , .btn-or:focus , .btn-or:active {
			color: #e77d00;
			background: transparent;
			border: 1px solid #e77d00;
		}

		.highlight-bnr .btn {
			font-size: 1.2em;
		    padding: .3em 1.5em;
		}

		.highlight-bnr h2 {
			font-family: 'Open Sans', sans-serif;
			color: #fff;
			font-weight: 400;
			font-size: 1.9em;
		}

		.highlight-bnr h2 em {
			font-style: normal;
			font-weight: 700;
			color: #e77d00;
		}

		.feature-icon {
			display: inline-block;
			height: 50px;
			width: 50px;
			background: url(../images/res/feature-spirite-sm.png) no-repeat;
		}

		.feature-icon.spy-msg {
			background-position: -50px 0;
		}

		.feature-icon.spy-remote {
			background-position: -100px 0;
		}

		.feature-icon.spy-multimedia {
			background-position: 0px -50px;
		}

		.feature-icon.spy-internet {
			background-position: -50px -50px;
		}

		.feature-icon.spy-password {
			background-position: -100px -50px;
		}

		.feature-icon.spy-im {
			background-position:  0 -100px;
		}

		.feature-icon.spy-gps {
			background-position: -50px -100px;
		}

		@media only screen and (min-width:992px) {
			
			.bp-banner {
				margin-top: 6em;
			}	

		}

	/* end backpages */

