.monitor-bnr {
	background: url(../images/bg/bnr-lines.png) no-repeat 0 100%,
		 transparent;
	-webkit-background-size: auto , cover;
	background-size: auto , cover;
}

.monitor-bottom-bnr {
	background: transparent;
	/* DIFF:: Why does the below style get overriden when inserted in the global stylesheet ?? ; */
	-webkit-background-size: cover;
	background-size: cover;
}

.monitor-icon {
	display: inline-block;
	height: 60px;
	width: 75px;
	/*background: url(../images/res/monitor-workers-spirite.png) no-repeat;*/
}

.monitor-icon.monitor-saying {
	background-position: -75px 0;
}

.monitor-icon.monitor-redoing {
	background-position: -150px 0;
}

.monitor-workers {
	padding: 0;
	background: #ffffff; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: url(../images/bg/top-bg-lines.png) no-repeat 100% 0,
	-webkit-linear-gradient(#ffffff 0%, #f9f9f9 100%);
	background: url(../images/bg/top-bg-lines.png) no-repeat 100% 0,
	-o-linear-gradient(#ffffff 0%, #f9f9f9 100%);
	background: url(../images/bg/top-bg-lines.png) no-repeat 100% 0,
	linear-gradient(#ffffff 0%, #f9f9f9 100%);; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

/* code to draw lines for boxes */

.monitor-workers > .container > .row > [class*="col-md"] {
	position: relative;
}

.monitor-workers > .container > .row > [class*="col-md"]:after {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: #f3f3f3;
}

.monitor-workers > .container > .row > .col-md-4:nth-child(3):after {
	height: 0;
	width: 0;
}

/* end of code to draw lines for boxes */



/* monitor article code */

.monitor-workers article {
	padding: 3em 0;
}

.monitor-workers .col-md-3:hover {
	background: #fff;
}

@media only screen and (min-width: 992px) {
	.monitor-workers .col-md-4 {
		min-height: 400px;
	}

	.monitor-workers article {
		padding: 3em 2em;
	}
}

.monitor-heading  h3{
	font-size: 1.5em;
	white-space: normal;
	/* Just for visual candy */
	max-width: 200px;
	margin-left: .5em;
}

.monitor-heading {
	margin-bottom: 1em;
}

.monitor-heading > span , .monitor-heading > h3 {
	display: inline-block;
	vertical-align: middle;
} 

.monitor-features {
	margin-left: .3em;
}

.monitor-features > li {
	padding-left: .7em;
}

.monitor-workers .col-md-4:hover {
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	background: #fff;
}

@media only screen and (max-width:768px) {
	.monitor-workers article {
		max-width: 300px;
	    margin-left: auto;
	    margin-right: auto;
	}
}
/* End article code */