/* navbar styles */

.navbar {
	font-family: 'NexaBold' , 'Open Sans', sans-serif;
	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(left,  #fcfcfc 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #fcfcfc 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #fcfcfc 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	border-bottom: 2px solid #e77d00;
}

.navbar-nav > li  a {
	position: relative;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.navbar-nav > li {
	font-size: 14px;
}

.navbar-brand {
	padding: 2em 0 2em 15px;
}

.navbar .navbar-toggle {
	border: 1px solid #e77d00;
}

.navbar-toggle .icon-bar {
	background: #e77d00;
}

.navbar-brand img{
	max-width: 100%;
}



.nav > li > a:hover, .nav > li > a:focus {
	background: transparent;
	color: #e77d00;
}

@media only screen and (min-width:992px) {
	
	.navbar-nav > li.active > a:after {
		position: absolute;
		content: '';
		height: 0;
		width: 0;
		bottom: 0;
		left: 50%;
		border: 6px solid transparent;
		border-bottom-color: #e77d00;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}

}

@media only screen  and (min-width:768px){
	
	.navbar-nav > li {
		margin-right: 1em;
	}

	.navbar-nav > li > a {
		padding-top: 3em;
		padding-bottom: 3em;
	}

}


		/* dropdown code */

		.dropdown-menu {
			background: #e77d00;
			border-radius: 0;
			box-shadow: none;
			border-color: transparent;
			font-size: 90%;
		}

		.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
			background: transparent;
			color: #fff;
		}

		.dropdown-menu > li {
			position: relative;
		}

		.dropdown-menu > li > a {
			padding: 1em;
			font-weight: normal;
			font-size: 12px;
		}

	    .dropdown-menu > li:after {
			position: absolute;
			content: '';
			bottom: 0;
			height: 1px;
			right: 5%;
			left: 5%;
			background: #eee;
			background: rgba(255 , 255 , 255 , .3);
		}

	    .dropdown-menu > li:last-child:after {
			height: 0;
			width: 0;
		}

		.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
			background: transparent;
			border-color: none;	
		}
		
		@media (min-width: 768px){			
			.navbar-right .dropdown-menu {
			    left: 0;
			    right: auto;
			}
		}

		.dropdown-toggle:hover ~ .dropdown-menu {
			display: block;
		}

		.dropdown-menu:hover {
			display: block;
		}

/* end navbar */