.features-bnr {
	background: url(../images/bg/bnr-lines.png) no-repeat 0 100%;
	/*background: #fff url(../images/bg/discover-cheating-bg.jpg) no-repeat center 10px;*/
	-webkit-background-size: auto;
	background-size: auto;
}


.features-writeup {
	background: #ffffff; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: url(../images/bg/top-bg-lines.png) no-repeat 100% 0 , url(../images/bg/discover-cheating-bg-lines.png) no-repeat 100% 100%,
	-webkit-linear-gradient(#ffffff 0%, #f9f9f9 100%);
	background: url(../images/bg/top-bg-lines.png) no-repeat 100% 0 , url(../images/bg/discover-cheating-bg-lines.png) no-repeat 100% 100%,
	-o-linear-gradient(#ffffff 0%, #f9f9f9 100%);
	background: url(../images/bg/top-bg-lines.png) no-repeat 100% 0 , url(../images/bg/discover-cheating-bg-lines.png) no-repeat 100% 100%,
	linear-gradient(#ffffff 0%, #f9f9f9 100%);;;; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */	
}

.features-writeup h2{
	margin-top: 0;
}

.feature-btm-bnr {
	background: transparent;
	-webkit-background-size: cover;
	background-size: cover;
}

.feature-item >* {
	display: inline-block;
	vertical-align: middle;
}

aside .feature-nav , aside > img {
	margin-left: 1em;
	float: left;
}

.feature-nav h3 {
	margin-top: 0;
}

.call-record h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
	
.call-record .vedio-link {
	margin: .5em 0;
	font-size: 1.1em;
}

.call-record hr{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

.call-record p {
	line-height: 2;
}

.bullet-list {
	margin-left: .5em;
}

.call-record article {
	margin-top: 2em;
}

.other-features > h2 {
	margin: .5em 0;
}

.other-features {
	padding-right: 0;
	padding-left: 0;
} 

.other-features h5 {
	font-size: 1.1em;
	font-weight: 700;
}

.other-features .feature-list > li {
	margin: 1em 0;
}

.other-features .col-md-5 {
	padding-left: 0;
}