.products-bnr {

	background: url(../images/bg/products-banner-lines.png) no-repeat 0 100%,
	transparent;
	-webkit-background-size: auto, cover;
	background-size: auto , cover;

/*	background: url(../images/bg/products-banner-lines.png) no-repeat 0 100%,
	 url(../images/bg/products-bnr-bg.jpg) no-repeat center center;
	-webkit-background-size: auto, cover;
	background-size: auto , cover;   */
}



.products {
	background: #f9f9f9 url(../images/bg/product-bg-lines.png) no-repeat 100% 100%;
	padding: 2em 0 5em;
}

.products h2 {
	font-size: 2.2em;
}

.products p {
	font-size: 1.2em;
	font-weight: 300;
}

.product-keypoints {
	margin-top: 3em;
}

.product-keypoints > li {
	position: relative;
	margin-top: .5em;
	padding-left: 1em;
}

.product-keypoints > li a {
	font-family: 'NexaBold' , 'Open Sans', sans-serif;
	font-size: 1.6em;
	text-transform: capitalize;
	font-weight: 700;
	color: #141b23;
}

.product-keypoints > li:before {
	content: "\f0da";
	position: absolute;
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	left: 0;
	top: 50%;
	color: #000;
	font-size: 1.6em;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.iphone-six {
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

.iphone-six:hover {
	-webkit-transform: translateY(-1.5em);
	-ms-transform: translateY(-1.5em);
	-o-transform: translateY(-1.5em);
	transform: translateY(-1.5em);
}