



.protect-child-bnr {
	background: url(../images/bg/bnr-lines.png) no-repeat 0 100%,
		 transparent;
	-webkit-background-size: auto , cover;
	background-size: auto , cover;
}

.protect-children {
	background: #f9f9f9;
	padding: 0;
}

.protect-children .col-md-3 {
	border-right: 1px solid #fff;
	background: #eee;
	-webkit-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s;
}

/* no border for last child */
.protect-children .row > .col-md-3:last-child {
	border-right: none;
}


.protect-children .col-md-3 > article {
	padding: 6em 1em;
}

.protect-children .col-md-3 > article p {
	line-height: 2;
}

span.icon-tick {
	display: inline-block;
	width: 60px;
	height: 55px;
	background: url(../images/res/tick-icon.png) 0 0;
}

.protect-feature header >* {
	display: inline-block;
	vertical-align: middle;
}

.protect-feature header > .icon-tick {
	margin-right: .5em;
} 

.protect-feature header {
	margin: 0 0 1em;
}

.protect-children .col-md-3:hover {
	cursor: pointer;
	color: #fff;
	background: #e77d00;
}

.protect-children .col-md-3:hover h3 {
	color: #fff;
}

.protect-children .col-md-3:hover span.icon-tick {
	background-position: 0 -55px;
}