@media only screen and (min-width:992px) {
	section {
		height: 500px;
	}
}

body {
	color: #141b23;
}

[class*="col-md"] {
	padding-right: 0;
	padding-left: 0;
}

.intro-section h2 {
	font-size: 2.8em;
	margin-top: 0;
	margin-bottom: 0;
}

.intro-section p {
	font-size: 1.2em;
	font-weight: 300;
	margin-top: .2em;
	margin-bottom: .2em;
	max-width: 600px;

}

.intro-section .ar-btn {
	font-size: 1.5em;
	font-weight: 700;
	padding-left: 1.6em;
}

.relationship-cheating {
	margin-top: 4em;
	background: url(../images/bg/banner-bg.jpg) no-repeat center 10%;
	-webkit-background-size: cover;
	background-size: cover;
}

.protect-children {
	background: url(../images/bg/protect-children-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;	
}

.monitor-workers {
	background: url(../images/bg/monitor-workers-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;		
}

.discover-truth {
	background: url(../images/bg/discover-truth.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;			
}

.protect-children h2 , .discover-truth h2  {
	color: #fff;
}

.protect-children , .discover-truth , .discover-truth h5{
	color: #b6c7db;
}


@media only screen and (min-width: 992px) {
	
	.container {
		display: table;
		height: 100%;
	}

	.container > .row {
		display: table-row;
		height: 100%;
	}

	.container > .row > [class*="col-md"] {
		float: none;
		display: table-cell;
		height: 100%;
		vertical-align: middle;
	}

	.relationship-cheating {
		margin-top: 6em;
	}

}
